* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: url(../images/background.png) repeat-x;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
}

a {
  color: #258cc9;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}

#outer {
  width: 920px;
  height: 1040px;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  background-color: #fff;
  border: initial;
}

#header {
  max-width: 100%;
  height: 170px;
}
#logo {
  float: left;
  width: 880px;
  height: 250px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#header #logo h1 {
  position: absolute;
  top: 50px;
  left: 40px;
  color: #488000;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
}

#pricipalcontent {
  width: 97%;
  background-color: #fff;
  margin-left: 3px;
}

#secondarycontent {
  width: 600px;
  float: right;
  margin-right: 3px;
  background-color: #fff;
}

#primarycontent {
  width: 280px;
  float: left;
  margin-right: 3px;
}
#secondarycontent h2 {
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  letter-spacing: -1px;
  padding: 0px 0px 10px 10px;
  margin-bottom: 3px;
}

#secondarycontent .content {
  padding: 0px 10px 0px 10px;
}
#secondarycontent .content #imagen {
  width: 300px;
  height: 340px;
}
#primarycontent h3 {
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  letter-spacing: -1px;

  padding: 0px 0px 10px 10px;
  margin-bottom: 3px;
}
#primarycontent h4 {
  font-size: 20px;
  line-height: 25px;
  color: #488000;
  letter-spacing: -1px;

  padding: 0px 0px 10px 10px;
  margin-bottom: 3px;
}
#secondarycontent h3 {
  font-size: 20px;
  line-height: 25px;
  color: #488000;

  letter-spacing: -1px;
  padding: 0px 0px 10px 10px;
  margin-bottom: 3px;
}

#primarycontent .post {
  margin-bottom: 30px;
}

#primarycontent .post .content {
  padding: 0px 15px 0px 15px;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 15px;
}

#primarycontent .post .footer {
  height: 34px;
  margin-top: 5px;
  text-align: right;
}

#primarycontent .post .footer ul {
  list-style: none;
}

#primarycontent .post .footer ul li {
  display: inline;
  line-height: 14px;
  padding-left: 17px;
  margin-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

img.picA {
  position: relative;
  top: -2px;
  width: 104px;
  height: 84px;
  padding: 4px;
}

img.floatleft {
  float: left;
  margin: 0px 14px 3px 0px;
}

img.picB {
  position: relative;
  top: -2px;
  width: 146px;
  height: 147px;
  padding: 7px;
}

#footer {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 880px;
  background-color: #488000;
  clear: both;
  height: 45px;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #outer {
    width: 100%;
    height: 1000px;
  }
}
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #menu {
    text-align: center;
    width: 95%;

  }
}


@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #primarycontent {
    width: 90%;
    margin-top: 200px;

  }
}
@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #secondarycontent {
    width: 50%;
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #header #logo {
    width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #header #splash {
    width: 100%;
    text-align: center;
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  #secondarycontent {
    width: 100%;
    display: left;
    text-align: center;
  }
  #secondarycontent .content {
    text-align: left;
  }
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  primarycontent {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 920px) {
  .footer {
    width: 20%;
    height: 20px;
  }
}
